.divpai1 {
    background-color: rgba(133, 0, 51, 0.74);
    border-style: solid;
    border-width: 15px;
    border-color: black;
    height: 40vh;
    width: 70vw;
    display: flex;
    justify-content: center;
    padding-top: 4%;
    line-height: 100px;

}

.div11 {
    background-color: white;
    border-style: solid;
    border-color: rgb(10, 19, 143);
    border-width: 15px;
    color: rgb(10, 19, 143);
    font-family: arial;
    font-size: 30px;
    width: 80%;
    height: 70%;
    vertical-align: center;
    text-align: center;
    line-height: 25vh;
    font-weight: bold;
    }

    .div_azul {
        width: 70%;
        background-color: blue;
        height: 35px;
        margin-top: 5%;
        margin-left: 15%;
    }

    .div_roxa {
        width: 40%;
        background-color: purple;
        height: 35px;
        margin-left: 30%;
    }

    .div_verde1 {
        background-color: green;
        width: 60%;
        height: 35px;
        margin-left: 20%;
    }

    .div_amarela {
        background-color: yellow;
        width: 52.5%;
        height: 35px;
        margin-left: 23.75%;
    }

    .divpai2 {
        width: 100%;
        height: 35px;
        margin-top: 12.3%;
        
    }

    .div_vermelha {
        background-color: red;
        width: 45%;
        height: 100%;
        float: left;

    }

    .div_azul2 {
        background-color: rgb(56, 112, 134);
        width: 25%;
        height: 100%;
        float: left;

    }

    .div_verde2 {
        background-color: greenyellow;
        width: 30%;
        height: 100%;
        float: left;

    }