.divpai {
    background-color: rgb(200, 162, 218);
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.div1 {
    background-color: #ffcbdb;
    height: 100%;
    width: 250px;
    border-style: dashed;
    border-color: red;
    border-width: 20px;

}

.div2 {
    background-color: #03bb85;
    height: 88%;
    width: 30%;
}